@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 15px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background-color: gray; /* Change the background color */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(227, 16, 52); /* Change the thumb color */
}

body {
  background: rgb(47, 54, 69);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main .box {
  background-color: rgb(21, 33, 54);
  width: 400px;
  height: 600px;
  border-radius: 10px;
  transition: all 0.5s ease-in;
  position: relative;
}
.main .box > header {
  margin: 15px 20px;
  display: flex;
  justify-content: "";
  align-items: center;
  gap: 10px;
  border: none;
  height: 40px;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 3px 5px black;
  position: relative;
}
.main .box > header .shopping {
  color: white;
  font-size: 20px;
}
.main .box > header > h2 {
  color: white;
  font-size: 20px;
}
.main .box > header .eye {
  color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 255px;
  bottom: 5px;
  cursor: pointer;
}
.main .box > header .toggle-dark {
  position: relative;
  left: 100px;
  width: 50px;
  height: 30px;
  border: 2px solid white;
  display: flex;
  justify-content: "space-between";
  align-items: center;
  border-radius: 20px;
  padding: 0 3px;
}
.main .box > header .toggle-dark .circle-dark {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.main .box > header .toggle-dark .circle-dark:hover {
  box-shadow: 0 0 10px white;
}
.main .box > header .toggle-light {
  position: relative;
  left: 100px;
  width: 50px;
  height: 30px;
  border: 2px solid rgb(21, 33, 54);
  display: flex;
  justify-content: "space-between";
  align-items: center;
  border-radius: 20px;
  padding: 0 3px;
  transition: all 0.5s ease;
}
.main .box > header .circle-light {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: rgb(21, 33, 54);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  margin-left: 20px;
}
.main .box > header .circle-light:hover {
  box-shadow: 0 0 10px rgb(21, 33, 54);
}
.main .box .inputs {
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .box .inputs .search {
  display: flex;
}
.main .box .inputs .search input {
  padding: 5px;
  width: 250px;
  height: 40px;
  background-color: #666666;
  color: white;
  border: none;
  outline: none;
}
.main .box .inputs .search input:focus {
  border: none;
}
.main .box .inputs .search input::placeholder {
  color: #cccccc;
}
.main .box .inputs .search .button-cart {
  width: 60px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .box .inputs .search .button-cart .cart-icon {
  width: 30px;
  height: 30px;
}
.main .box .inputs .list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 390px;
  overflow-y: auto;
}
.main .box .inputs .list .list-item {
  display: flex;
}
.main .box .inputs .list .list-item > li, .main .box .inputs .list .list-item input {
  width: 190px;
  margin-top: 5px;
  height: 35px;
  padding: 5px;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(34, 55, 90);
  overflow-x: hidden;
}
.main .box .inputs .list .list-item > li {
  font-size: 12px;
  align-items: center;
  display: flex;
}
.main .box .inputs .list .list-item .edits {
  background: rgb(247, 195, 5);
  border: none;
  outline: none;
  width: 50px;
  cursor: pointer;
  height: 35px;
  margin-top: 6px;
}
.main .box .inputs .list .list-item .edits .edit {
  width: 50px;
}
.main .box .inputs .list .list-item .trash {
  background: rgb(202, 25, 41);
  border: none;
  outline: none;
  width: 50px;
  cursor: pointer;
  height: 35px;
  margin-top: 6px;
}
.main .box .inputs .buttons {
  display: flex;
  justify-content: "center";
  align-items: center;
  padding: 25px;
  gap: 10px;
}
.main .box .inputs .buttons .clear {
  width: 150px;
  height: 30px;
  cursor: pointer;
  font-weight: 700;
}
.main .receipt {
  position: absolute;
  width: 400px;
  height: 270px;
  top: 25px;
  transition: transform 0.7s ease;
}
.main .receipt .header-rec {
  margin: 12px 20px;
  background-color: rgb(21, 33, 54);
  padding: 8px 10px;
  border-radius: 5px;
}
.main .receipt .header-rec > h2 {
  color: white;
}
.main .receipt .text-receipt {
  padding: 12px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.main .receipt .text-receipt .add, .main .receipt .text-receipt .delete {
  padding: 8px 10px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  justify-content: "";
  align-items: center;
  justify-content: space-between;
}
.main .receipt .text-receipt .add > h2, .main .receipt .text-receipt .delete > h2 {
  color: white;
}
.main .receipt .text-receipt .delete {
  background-color: rgb(247, 0, 0);
}
.main .receipt .text-receipt .add {
  background-color: rgb(48, 90, 82);
}
.main .receipt .text-receipt .back {
  margin-top: 25px;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  width: 130px;
}

/*# sourceMappingURL=index.css.map */
